 {% load static %}
<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>

{% block meta %}
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Site Metas -->
    <title>{% block title %}gestion scolaire{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}
    <!-- Site Icons -->
{% block style %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %} "type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%} "type="text/css"/>
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css'%} "type="text/css"/>
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css'%} "type="text/css"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %} "type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css'%} "type="text/css"/>

	<script src="{% static '/javascript/lib/jquery-3.5.1.js' %}"></script>
	<script src="{% static '/javascript/js/bootstrap.min.js'%}"></script>

    <!-- Modernizer for Portfolio -->
	<script src="{% static '/javascript/js/custom.js'%}"></script>
	<script src="{% static '/javascript/js/modernizer.js'%}"></script>
    <script src="{% static '/javascript/js/modernizer.js'%}"></script>
    
    <!--[if lt IE 9]-->
	
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}
</head>
<body class="host_version" alink="green" link="blue" vlink="red">




	<!-- Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header tit-up">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">welcome !</h4>
			</div>
			<div class="modal-body customer-box">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li><a class="active" href="#Login" data-toggle="tab">Se connecter</a></li>
					<li><a href="#Registration" data-toggle="tab">Creer son compte</a></li>
                   
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="Login">
						<form role="form" class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="login" placeholder="Login:" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="password" placeholder="mot de passe" type="password">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
										Se connecter
									</button>
									<a class="for-pwd" href="javascript:;">mot de passe oublie?</a>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane" id="Registration">
						<form role="form" class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" placeholder="Nom ou login" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="email" placeholder="Email" type="email">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="tel" placeholder="Tel" type="tel">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" id="password" placeholder="Mot de passe" type="password">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<button type="button" class="btn btn-light btn-radius btn-brd grd1">
										Enregistrer &amp; Continuer
									</button>
									<button type="button" class="btn btn-light btn-radius btn-brd grd1">
										Annuler</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->

	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="index.html">
					<img src={% static "images/logo.png" %} alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="{% url 'registration:index' %}">Acceuil</a></li>
						<li class="nav-item"><a class="nav-link" href="about.html">A propos de nous</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Inscription </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'registration:creer_eleve' %}" class="btn btn-xs btn-success">Inscrire un eleve </a>
								<a href="#Modal" data-toggle="modal" class="btn btn-xs btn-success">Nouveau eleve</a>
								<a class="dropdown-item" href="{% url 'registration:creer_parent' %}">Enregistrer les parents </a>
								<a class="dropdown-item" href="{% url 'registration:creer_classe' %}">Creer une novelle classe</a>
                                <a class="dropdown-item" href="{% url 'registration:pdf' %}">liste des eleves</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Bulletin de notes </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="{% url 'report_card:ajouter_discipine' %}">Discipline d'evaluation </a>
								<a class="dropdown-item" href="{% url 'report_card:remplir_note' %}">remplir les notes</a>
							</div>
						</li>
					<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Personnel/Enseignants</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'enseignant' %}">Enregistrer un Enseignant </a>
								<a href="#myModal" data-toggle="modal" class="btn btn-xs btn-success">nouveau enseignant</a>
								<a class="dropdown-item" href="{% url 'liste_enseignant' %}">Liste des enseignants</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Payer frais de scolarite</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'registration:payer_frais' %}">payer la totalite </a>
								<a href="#payer" data-toggle="modal" class="btn btn-xs btn-success">payer frais de scolarite</a>
								<a class="dropdown-item" href="{% url 'registration:payer_tranche' %}">payer une tranche</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="contact.html">presentation de l'etablissement</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log orange" href="#" data-toggle="modal" data-target="#login"><span>Bienvenue!</span></a></li>
                    </ul>
				</div>
			</div>

		</nav>
	</header>
	<!-- End header -->

	{% block content %}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About US</h3>
                        </div>
                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul><!-- end links -->
						</div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Pricing</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@yoursite.com</a></li>
                            <li><a href="#">www.yoursite.com</a></li>
                            <li>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
                            <li>+61 3 8376 6284</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">SmartEDU</a> Design By : <a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->
{% endblock %}
{% block footer %}
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src={% static "/javascript/js/all.js" %}></script>
    <!-- ALL PLUGINS -->
    <script src={% static "/javascript/js/custom.js" %}></script>
	<script src={% static "/javascript/js/timeline.min.js" %}></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
{% endblock %}
</body>
</html>