<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<title>eleve_pdf</title>
<style type="text/css">
@page {
    size: A4;
    margin: 2.5cm 1.5cm 2.5cm 1.5cm;


}

#footerContent {
color: #666;
font-size: 10pt;
text-align: center;
}
table, th, td {
  border: 1px solid black;
    text-align: center;
    border-spacing: 5px;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
  color: white;
  background-color: black;
}
th,td{
    padding: 5px;
}
/* ... Other CSS Rules go here ... */
</style>
</head>
<body>
    <div>
        <h1>liste des eleves</h1>


            <table style="width:100%">
              <caption>liste des eleves</caption>
                <tr>
                <th>Numero</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de Naissance</th>
                <th>lieu de Naissance</th>
                <th>Sexe</th>
                <th>Classe</th>
                <th>Numero telephone parent</th>
                </tr>
                {% for e in all_eleves %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><b>{{ e.nom |upper}}</b></td>

                    <td><b>{{ e.prenom |upper}} </b></td>

                    <td><b>{{e.datenaiss |date:'D d M Y'}}</b></td>

                    <td><b>{{ e.lieunaiss |upper}}</b></td>

                    <td><b>{{e.sex}}</b></td>

                    <td><b>{{ e.classe |upper }}</b></td>

                    <td><b>{{ e.parent |upper}}</b></td>
                </tr>
   {% endfor %}




            </table>

    </div>

<pdf:nextpage>
<div>
liste des eleves inscrits
</div>
<div id="footerContent">
imprime le {% now "Y-m-d" %} |
Page <pdf:pagenumber> of <pdf:pagecount>
</div>

</pdf:nextpage>
</body>
</html>