{% extends 'index.html' %}
{% load static %}
{% block title %}Creer une classe d'eleves{% endblock %}
  <link rel="stylesheet" href="{% static 'css/style.css'%} "type="text/css"/>
{% block content %}

    <form class="form-horizontal" role="form" method="POST" id="af">{% csrf_token %}
        <div class="form-group">
            <label for="nom_classe" class="col-lg-2 col-sm-2 control-label">Nom de la classe:</label>
            <div class="col-lg-10">
            {{form.nom_classe}}
           </div>
        </div>
        <div class="form-group">
            <label for="nbre_places" class="col-lg-2 col-sm-2 control-label">Nombre de places:</label>
            <div class="col-lg-10">
            {{form.nbre_places}}
           </div>
        </div>
        <input type="submit" value="Enregistrer" class="btn btn-success"/>
        <button type="button" class="btn btn-danger" onclick="window.history.back()">Annuler </button>




    </form>

{% endblock %}